/* custom.scss */

/* import google font */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
</style>

$headings-font-family: 'Roboto Condensed';
$font-family-base: 'Roboto Condensed';

$navbar-padding: 100px;

$navbar-dark-color: orange;
$navbar-toggler-border-radius:20px;

$body-bg: white;

$body-sm: white;



@import "bootstrap-4.0.0/scss/bootstrap";

